@import url(navegacao.css);
@import url(section-destaque.css);
@import url(section-features.css);
@import url(section-download.css);
@import url(section-questions.css);
@import url(section-formulario.css);
@import url(rodape.css);

:root {
    --branco: #ffffff;
    --branco-quase-transparente: #ffffffd3;
    --quase-branco: #faf5f5;
    --azul-suave: #5368df;
    --vermelho-suave: #fa5757;
    --cinza-suave: #d5e1ef;
    --azul-acinzentado: #9194a1;
    --azul-quase-transparente: #252b4648;
    --azul-muito-escuro: #252b46;


    --fonte-principal: 'Rubik', sans-serif;
}

body {
    color: var(--azul-muito-escuro);
    font-family: var(--fonte-principal);
}