.nav-hamburger {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 2rem;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    outline: none;
    position: relative;
    width: 35px;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
    content: '';
    background-color: var(--azul-muito-escuro);
    display: block;
    height: 3px;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-9px, 5px);
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-7px, -4px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    background-color: var(--branco-quase-transparente);
    display: block;
    left: 100%;
    margin-top: 2rem;
    min-height: 100vh;
    position: fixed;
    transition: 0.4s;
    top: 5rem;
    width: 100%; 
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-link {
    border-bottom: 1px solid var(--azul-quase-transparente);
    padding: 1.5rem 0;
    text-decoration: none;
    width: 85%;
}

.mobile-nav a:nth-child(1) {
    border-top: 1px solid var(--azul-quase-transparente);
}

.mobile-link, .mobile-login {
    color: var(--azul-muito-escuro);
    display: block;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .1rem;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.mobile-login {
    background: none;
    border: 2px solid var(--azul-muito-escuro);
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--fonte-principal);
    margin-top: 1.5rem;
    padding: .8rem 7.8rem;  
}

.desktop-nav {
    display: none;
}

@media screen and (min-width: 1100px) {
    .hamburger {
        display: none;
    }

    .container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 10rem;
    }

    .desktop-nav {
        display: block;
    }

    .desktop-link {
        color: var(--azul-muito-escuro);
        letter-spacing: .1rem;
        margin: 0 1.5rem;
        text-decoration: none;
        text-transform: uppercase;  
    }

    .desktop-link:hover {
        color: var(--vermelho-suave);
    }

    .desktop-login {
        background-color: var(--vermelho-suave);
        border: none;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(94, 92, 92, 0.116);
        color: var(--branco);
        cursor: pointer;
        font-family: var(--fonte-principal);
        font-size: 16px;
        margin-left: 1.5rem;
        padding: .6rem 2.2rem; 
    }

    .desktop-login:hover {
        color: var(--vermelho-suave);
        background-color: transparent;
        border: 2px solid var(--vermelho-suave);
    }
}