.container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 2rem;
}

.hamburger {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    outline: none;
    position: relative;
    width: 35px;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
    content: '';
    background-color: #000;
    display: block;
    height: 3px;
    margin: 6px 0px;
    transition: 0.4s;
    width: 100%;
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-9px, 5px);
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-7px, -4px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position:fixed;
    top:5rem;
    left:100%;
    width:100%;
    min-height:100vh;
    display:block;
    background-color:#ffffffd3;
    transition:0.4s;
    margin-top: 2rem;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-link {
    color: var(--azul-muito-escuro);
    display:block;
    margin:0 auto;
    text-align:center;
    text-decoration:none;
    text-transform: uppercase;
    border-bottom: 1px solid var(--azul-quase-transparente);
    padding: 1.5rem 0;
    width: 85%;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .15rem;
}

.mobile-nav a:nth-child(1) {
    border-top: 1px solid var(--azul-quase-transparente);
}

.mobile-login {
    margin:0 auto;
    background: none;
    border: 2px solid var(--azul-muito-escuro);
    padding: .8rem 7.8rem;
    margin-top: 1.5rem;
    text-align: center;
    display: block;
    color: var(--azul-muito-escuro);
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .15rem;
    text-transform: uppercase;
    border-radius: 5px;
}