.formulario {
    background-color: var(--azul-suave);
    padding: 5rem 0 4rem 0;
    text-align: center;
}

.formulario-descricao {
    color: var(--branco);
    font-size: 13px;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

.formulario-titulo {
    color: var(--branco);
    font-size: 25px;
    font-weight: 400;
    line-height: 2rem;
    margin: 1rem 2rem 2rem 2rem;
}

.formulario-lista {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
}

.formulario-email {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(94, 92, 92, 0.116);
    margin-bottom: 1rem;
    padding: 1rem;  
}

.formulario-email::placeholder {
    color: var(--cinza-suave);
    font-family: var(--fonte-principal);
    font-size: 16px;
}

.formulario-submit {
    background-color: var(--vermelho-suave);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(94, 92, 92, 0.116);
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    padding: 1rem;    
}