.formulario {
    background-color: var(--azul-suave);
    padding: 5rem 0 4rem 0;
    text-align: center;
}

.formulario-descricao {
    color: var(--branco);
    font-size: 13px;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

.formulario-titulo {
    color: var(--branco);
    font-size: 25px;
    font-weight: 400;
    line-height: 2rem;
    margin: 2rem auto;
    max-width: 350px;
}

.formulario-lista {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
}

.formulario-email {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(94, 92, 92, 0.116);
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 400px;
    padding: 1rem 4.5rem;  
}

.formulario-email::placeholder {
    color: var(--cinza-suave);
    font-family: var(--fonte-principal);
    font-size: 16px;
}

.formulario-submit {
    background-color: var(--vermelho-suave);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(94, 92, 92, 0.116);
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    padding: 1rem 7.2rem;  
    margin: 0 auto; 
    max-width: 400px;
}

@media screen and (min-width: 1100px) {
    .formulario-lista {
        display: block;
    }

    .formulario-submit {
        font-size: 14px;
        margin-left: 1rem;
        padding: .95rem 1.5rem;
    }

    .formulario-submit:hover {
        background-color: var(--branco);
        border: 2px solid var(--vermelho-suave);
        color: var(--vermelho-suave);
        font-weight: 500;
        padding: .83rem 1.3rem;
    }
}