.features {
    margin-bottom: 4rem;
    margin-top: 10rem;
    text-align: center;
}

.features-titulo {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 1.0rem;
}

.features-decricao {
    color: var(--azul-acinzentado);
    line-height: 1.7rem;
    margin: 0 1.5rem 3rem 1.5rem;
}

.features-lista:nth-child(1) {
    border-top: solid 1.5px var(--cinza-suave);
    margin: 0 2rem;
}

.features-item {
    border-bottom: solid 1.5px var(--cinza-suave);
    color: var(--azul-acinzentado);
    display: flex;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    justify-content: center;
    padding: 1.5rem 0;
    position: relative;  
    text-decoration: none;
}

.features-item::after {
    background-color: var(--vermelho-suave);
    bottom: 0;
    content: "";
    justify-self: center;
    position: absolute;
    height: 5px;
    transition: 0.3s;
    width: 0;
}

.features-item:hover::after {
    width: 180px;
}

[lj-type="stage"] {
    margin: auto;
    max-width: 800px;
    height: 170vw;
    width: 100%;  
}

.features-imagem {
    margin-bottom: 5rem;
    margin-top: 4.5rem;
    width: 83vw;
}