.destaque {
    position: relative;
    text-align: center;
}
 
.destaque-imagem {
    margin-top: 2rem;
    position: relative;
    width: 95vw;
    z-index: 10;
    max-width: 500px;
}

.destaque-imagem-fundo {
    bottom: 19.5rem;
    border-radius: 0 0 0 6.5rem;
    position: absolute;
    right: 0;
    width: 82vw;  
    top: 6rem;
    max-width: 500px;
}

.destaque-titulo {
    font-size: 30px;
    font-weight: 500;
    line-height: 2.5rem;
    margin: 3.5rem 1.5rem 1.5rem 1.5rem;
    text-transform: capitalize;
}

.destaque-descricao {
    color: var(--azul-acinzentado);
    line-height: 1.7rem;
    margin: 0 1.5rem 3rem 1.5rem;
}

.destaque-link {
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(94, 92, 92, 0.116);
    font-size: 14px;
    font-weight: 500;
    margin: 0.5rem;
    padding: 1rem;
    text-decoration: none;
}

.destaque-link:nth-child(1) {
    color: var(--branco);
    background-color: var(--azul-suave);
}

.destaque-link:nth-child(2) {
    color: var(--azul-muito-escuro);
    background-color: var(--quase-branco);
    
}

    