.destaque-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
 
.destaque-imagem {
    margin-top: 2rem;
    max-width: 650px;
    width: 95vw;
}

.destaque-titulo {
    font-size: 30px;
    font-weight: 500;
    line-height: 2.5rem;
    margin: 2.5rem 1.5rem 1.5rem 1.5rem;
    text-transform: capitalize;
}

.destaque-descricao {
    color: var(--azul-acinzentado);
    line-height: 1.7rem;
    margin: 0 1.5rem 3rem 1.5rem;
    max-width: 650px;
}

.destaque-link {
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(94, 92, 92, 0.116);
    font-size: 14px;
    font-weight: 500;
    margin: 0.5rem;
    padding: 1rem;
    text-decoration: none;
}

.destaque-link:nth-child(1) {
    color: var(--branco);
    background-color: var(--azul-suave);
}

.destaque-link:nth-child(2) {
    color: var(--azul-muito-escuro);
    background-color: var(--quase-branco);
}

@media screen and (min-width: 1250px) {
    .destaque-container {
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .destaque-imagem {
        margin-right: 1rem;
        margin-top: 4rem;
    }

    .destaque {
        margin-left: 5rem;
        margin-top: -1.5rem;
        text-align: start;
        width: 35vw; 
    }

    .destaque-titulo {
        font-size: 40px;
        margin-top: 0;
    }

    .destaque-link {
        padding: 1rem 1.5rem;
    }

    .destaque-link:nth-child(1) {
        margin-left: 1.5rem;
    }

    .destaque-link:nth-child(1):hover {
        background-color: transparent;
        border: 2px solid var(--azul-suave);
        color: var(--azul-suave);
    }

    .destaque-link:nth-child(2):hover {
        background-color: transparent;
        border: 2px solid var(--azul-muito-escuro);
        color: var(--azul-muito-escuro);
    }
}   